.header {
    &__container--pubs {
        background-color: $gray-bg;

        @media screen and (min-width:$breakpoint-md) {
            background: #fff;
        }
    }

    &__label--pubs {
        color: $gray-text;
    }

    &__input:checked+.header__label--pubs {
        color: #fff;
    }

    &__number--pub {
        color: $gray-text;
        opacity: 1;
    }

    &__links--pubs {
        color: $active-reg;
    }

}

.header__subcontainer .header__adress--pubs {
    &::before {
        border: 1px solid $gray-separator;
        background-color: $gray-separator;
    }

    &::after {
        border: 1px solid $gray-separator;
        background-color: $gray-separator;
    }
}

.header__subcontainer .header__number--pub {
    opacity: 1;
}

.logo--pubs {
    &::before {
        content: '/';
        font-weight: normal;
        font-size: 30px;
        color: $accent-color;
        position: absolute;
        left: 0;
        top: 0;
        transform: translate(88px, 0);

        @media screen and (min-width:$breakpoint-md) {
            font-size: 50px;
            font-weight: 700;
            transform: translate(150px, 15px);
        }

        @media screen and (min-width:$breakpoint-lg) {
            font-size: 50px;
            font-weight: 700;
            transform: translate(150px, -25px);
        }
    }

    &::after {
        content: 'publications';
        font-weight: normal;
        font-size: 20px;
        line-height: 24px;
        color: $main-color;
        position: absolute;
        left: 0;
        top: 0;
        transform: translate(100px, 0);

        @media screen and (min-width:$breakpoint-md) {
            font-size: 36px;
            line-height: 44px;
            transform: translate(180px, 0);
        }

        @media screen and (min-width:$breakpoint-lg) {
            font-size: 36px;
            line-height: 44px;
            transform: translate(170px, -35px);
        }
    }
}

.header__icon {
    &::before {
        @media screen and (min-width:$breakpoint-md) {
            border: 1px solid $gray-separator;
            background-color: $gray-separator;
        }
    }
}

.main {

    // .main__svg

    &__svg--box {
        padding: 30px 0px 60px;
    }

    &__svg {
        width: 24px;
        height: 24px;
        padding: 9px;
        background-color: $gray-bg;
        border-radius: 12px;
        margin-right: 10px;
    }

}

.pubs {
    &__paragraph {
        color: black;
        @include paragraph;
    }
}

.pub__box--noimage {
    padding-top: 30px;
}

.first {

    // .first__pubs

    &__pubs {
        padding-bottom: 30px;
        border-bottom: 4px solid $gray-separator;
        margin-bottom: 30px;
    }

    // .first__img

    &__img {
        min-width: 315px;
        display: block;
        margin: 0 auto;
        border-radius: 12px;
        margin-bottom: 30px;

        @media screen and (min-width:$breakpoint-md) {
            min-width: 648px;
        }

        @media screen and (min-width:$breakpoint-lg) {
            min-width: 904px;
        }

        @media screen and (min-width:$breakpoint-xl) {
            min-width: 1080px;
        }

        @media screen and (min-width:$breakpoint-xxl) {
            min-width: 1360px;
        }
    }

    // .first__header

    &__header {
        @include h2-mobile-font;
        color: $main-color;
        margin-bottom: 15px;

        @media screen and (min-width:$breakpoint-md) {
            @include h2-font
        }
    }

    // .first__date

    &__date {
        color: $gray-text;
        font-weight: 700;
        font-size: 12px;
        line-height: 15px;
        letter-spacing: 1px;
        text-transform: uppercase;

    }
}

.second {

    // .second__pubs

    &__pubs {
        padding-bottom: 30px;
        border-bottom: 4px solid $gray-separator;
        margin-bottom: 30px;
    }

    // .second__text

    &__text {
        margin-bottom: 15px;
    }

    // .second__text--second

    &__text--second {
        margin-bottom: 30px;
    }

    // .second__header

    &__header {
        @include gradient-text;
        @include hero-mobile;
        margin-bottom: 30px;

        @media screen and (min-width:$breakpoint-md) {
            @include hero-font;
        }
    }

    // .second__header--second

    &__header--second {
        color: $main-color-alt;
        @include h3-mobile-font;
        margin-bottom: 15px;

        @media screen and (min-width:$breakpoint-md) {
            @include h3-font;
        }
    }

    // .second__ordered

    &__ordered {
        margin-bottom: 30px;
        padding-left: 20px;
    }

    // .second__list

    &__list {
        list-style-type: decimal;
        font-weight: 700;
        color: $accent-color;
        margin-bottom: 15px;
    }

    &__list--text {
        font-size: 18px;
        line-height: 26px;
        font-weight: 400;
        font-size: 18px;
        line-height: 26px;
        color: #000;
        padding-left: 15px;
    }

    // .second__text--third

    &__text--third {
        margin-bottom: 30px;
    }

    // .second__img

    &__img {
        min-width: 315px;
        display: block;
        margin: 0 auto;
        border-radius: 12px;
        margin-bottom: 15px;

        @media screen and (min-width:$breakpoint-md) {
            min-width: 648px;
        }

        @media screen and (min-width:$breakpoint-lg) {
            min-width: 904px;
        }

        @media screen and (min-width:$breakpoint-xl) {
            min-width: 1080px;
        }

        @media screen and (min-width:$breakpoint-xxl) {
            min-width: 1360px;
        }
    }

    // .second__text-fourth

    &__text-fourth {
        color: $gray-text;
        @include paragraph-small;
        margin-bottom: 30px;
        text-align: center;
    }

    // .second__text--fifth

    &__text--fifth {
        margin-bottom: 30px;
    }

    // .second__header--third

    &__header--third {
        color: $main-color-alt;
        @include h3-mobile-font;
        margin-bottom: 15px;

        @media screen and (min-width:$breakpoint-md) {
            @include h3-font;
        }
    }

    // .second__text--sixth

    &__text--sixth {
        margin-bottom: 15px;
    }
}

.pubs--pubs {
    border-radius: 12px 12px 0 0;
}

/* switcher */
.switcher {
    margin-bottom: 30px;
}

.switcher input {
    display: none;
}

.switcher input+label {
    display: flex;
    height: 42px;
    position: relative;
    border-radius: 12px;
    cursor: pointer;
    width: 233px;
    margin: 0 auto;
}

.switcher span {
    color: $main-color;
    flex: 1 1 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
    @include h4-font;
}

.label-checkbox {
    background: #E6E6F0;
}

.switcher input+label::before {
    content: '';
    position: absolute;
    background: #fff;
    border-radius: 10px;
    width: 116px;
    height: 38px;
    top: 2px;
    left: 2px;
    transform: translate(0%, 0%);
    transition: transform .3s linear;
    z-index: 1;
}

.switcher input:checked+label::before {
    transform: translate(calc(100% - 2px), 0);
}