.main {

    // .main__content

    &__content {}
}

.content {

    // .content__container

    &__container {}
}

.it {

    // .it__svg
    border-bottom: 4px solid rgba(255, 255, 255, 0.5);
    ;

    &__svg {
        width: 64px;
        height: 64px;
        padding: 14px;
        background: #fff;
        border-radius: 24px;
        display: block;
        margin: 0 auto;
        margin-bottom: 28px;
    }

    // .it__header

    &__header {
        text-align: center;
        @include gradient-text;
        @include hero-mobile;
        margin-bottom: 28px;

        @media screen and (min-width:$breakpoint-md) {
            @include hero-font;
        }
    }

    // .it__text

    &__text {
        @include introduction;
        color: #fff;
        text-align: center;
    }

    &__text--second {
        @include introduction;
        color: #fff;
        text-align: center;
        margin-bottom: 28px;
    }

    // .it__button

    &__button {
        display: block;
        margin: 0 auto;
        margin-bottom: 30px;
        padding: 18px 30px;
        color: #fff;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
        background-color: $active-reg;
        box-shadow: 0px 0px 20px rgba(36, 163, 255, 0.5);
        border-radius: 12px;
        border: none;
    }
}


.services {
    padding-bottom: 60px;

    &__header--entry {
        @include h3-font;
        color: #fff;
        margin-bottom: 30px;
        padding-top: 34px;

    }

    // .services__ulist
    &__flex {
        @media screen and (min-width:$breakpoint-md) {
            display: flex;
            justify-content: space-between;
            gap: 60px;
        }

        @media screen and (min-width:$breakpoint-xxl) {
            display: flex;
            justify-content: space-between;
            gap: 74px;
        }
    }

    &__ulist {
        margin-bottom: 30px;
    }

    // .services__list

    &__list {
        position: relative;
        font-size: 18px;
        line-height: 26px;
        color: #fff;
        margin-bottom: 15px;
        padding-left: 14px;

        &::before {
            content: '';
            width: 6px;
            height: 6px;
            border-radius: 50%;
            background-color: $accent-color;
            position: absolute;
            left: 0;
            top: 0;
            transform: translate(0, 11px);
        }
    }

    &__ulist--second {}
}