@import url(../fonts/Montserrat-Bold.ttf);
@import url(../fonts/Montserrat-Regular.ttf);
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ---COLORS--- */
/* main */
/* accent */
/* active */
/* grey */
/* gradient */
/* links */
/* ---BREAKPOINTS--- */
/* mixins */
/* gradient text */
.block__gradient {
  background: linear-gradient(-128.63deg, #323264 0%, #323264 73.96%, #A54B5F 100%);
  border-radius: 0 0 12px 12px;
  position: relative;
  margin-bottom: 50px;
}
@media screen and (min-width: 768px) {
  .block__gradient {
    margin-bottom: 80px;
  }
}
.block__gradient::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translate(5%, 10px);
  display: block;
  height: 20px;
  width: 90%;
  background-color: #CACADB;
  border-radius: 12px;
  z-index: -1;
}
.block__gradient::after {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 10%;
  right: 10%;
  height: 20px;
  background-color: #E7E7F2;
  border-radius: 12px;
  z-index: -5;
}

.header__wrapper {
  background: url(../images/Symbol.png) no-repeat 50%/auto 100%;
  min-height: 100vh;
  position: relative;
  margin-bottom: 30px;
}

.content__container {
  padding: 0 15px;
  display: block;
  position: relative;
}
@media screen and (min-width: 768px) {
  .content__container {
    max-width: 648px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1024px) {
  .content__container {
    max-width: 904px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1440px) {
  .content__container {
    max-width: 1320px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1920px) {
  .content__container {
    max-width: 1600px;
    margin: 0 auto;
  }
}

.header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}
.header__links {
  color: white;
}
.header--services {
  height: auto;
}

.header__flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(245, 245, 250, 0.2);
  padding: 15px;
}
@media screen and (min-width: 768px) {
  .header__flex {
    background: transparent;
    justify-content: start;
    -moz-column-gap: 20px;
         column-gap: 20px;
  }
}
@media screen and (min-width: 1024px) {
  .header__flex {
    justify-content: end;
  }
}

.header__subcontainer {
  display: flex;
  -moz-column-gap: 20px;
       column-gap: 20px;
  align-items: center;
}

.header__adress {
  display: none;
  color: #B3B3BA;
  line-height: 20px;
  position: relative;
}
@media screen and (min-width: 768px) {
  .header__adress {
    display: block;
  }
  .header__adress::before {
    content: "";
    width: 6px;
    height: 6px;
    border: 1px solid #fff;
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(-15px, 6px);
  }
  .header__adress::after {
    content: "";
    width: 6px;
    height: 6px;
    border: 1px solid #fff;
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    right: 0;
    top: 0;
    transform: translate(15px, 5px);
  }
}

.header__number {
  color: #fff;
  font-weight: 700;
  position: relative;
}
@media screen and (min-width: 768px) {
  .header__number {
    opacity: 0.2;
  }
}

.header__icon {
  position: relative;
}
@media screen and (min-width: 768px) {
  .header__icon::before {
    content: "";
    width: 6px;
    height: 6px;
    border: 1px solid #fff;
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(-15px, 8px);
    pointer-events: none;
  }
}

.header__icon-svg {
  display: none;
  position: relative;
  width: 24px;
  height: 24px;
}
@media screen and (min-width: 768px) {
  .header__icon-svg {
    display: block;
  }
}

.header__input {
  display: none;
}

.header__label {
  font-size: 12px;
  line-height: 15px;
  font-weight: 700;
  color: #fff;
  padding: 5px 7px;
}

.header__input:checked + .header__label {
  background: #F0145A;
  border-radius: 8px;
}

.header__container-second {
  padding: 15px 0px;
  margin-bottom: 130px;
}
@media screen and (min-width: 1024px) {
  .header__container-second {
    flex-direction: row;
    padding-top: 0px;
  }
}

.header__container--sevices {
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .header__container--sevices {
    margin-bottom: 60px;
  }
}

.logo__flex {
  display: flex;
  justify-content: space-between;
  position: relative;
}
@media screen and (min-width: 768px) {
  .logo__flex {
    flex-direction: column;
  }
}
@media screen and (min-width: 1024px) {
  .logo__flex {
    flex-direction: row;
    padding-top: 0px;
  }
}

.header__nav {
  position: fixed;
  z-index: 15;
  bottom: 0;
  left: 8px;
  right: 8px;
  background: #fff;
  border-radius: 12px 12px 0px 0px;
  padding: 64px 12px 12px 12px;
  transition: transform 0.3s linear;
  transform: translate(0, 100%);
}
@media screen and (min-width: 768px) {
  .header__nav {
    position: relative;
    display: flex;
    background: transparent;
    padding: 0;
    transform: translate(0, 0);
  }
}
.header__nav.active {
  transform: translate(0, 0);
}

.header__nav-close {
  cursor: pointer;
}
.header__nav-close::before {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 18px;
  height: 18px;
  border-left: 2px solid #EC6F5D;
  transform: translate(-10px, 20px) rotate(45deg);
}
.header__nav-close::after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 18px;
  height: 18px;
  border-left: 2px solid #EC6F5D;
  transform: translate(-10px, 7px) rotate(-45deg);
}
@media screen and (min-width: 768px) {
  .header__nav-close {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .header__list {
    position: relative;
    display: flex;
    -moz-column-gap: 15px;
         column-gap: 15px;
    margin-top: 30px;
  }
}
@media screen and (min-width: 1024px) {
  .header__list {
    margin-top: 0px;
  }
}
.header__list-li {
  background-color: #F5F5FA;
  text-align: center;
  border-radius: 12px;
  margin-bottom: 15px;
  padding: 7px 0px;
}
@media screen and (min-width: 768px) {
  .header__list-li {
    background: transparent;
    text-align: left;
  }
}
.header__list li a {
  color: #24A3FF;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .header__list li a {
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: left;
  }
}
.header__list li a:hover {
  color: #F0145A;
  text-decoration: underline;
}

.header__links--active {
  color: #24A3FF;
}

.logo {
  font-size: 20px;
  line-height: 24px;
  color: #fff;
}
.logo__svg {
  width: 70px;
  height: 32px;
  fill: red;
}
@media screen and (min-width: 768px) {
  .logo__svg {
    width: 130px;
    height: 60px;
  }
}
@media screen and (min-width: 1024px) {
  .logo__svg {
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(15px, calc(-100% + 20px));
  }
}
.logo--services::before {
  content: "/";
  font-weight: normal;
  font-size: 30px;
  color: #F0145A;
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(88px, 0);
}
@media screen and (min-width: 768px) {
  .logo--services::before {
    font-size: 50px;
    font-weight: 700;
    transform: translate(150px, 15px);
  }
}
@media screen and (min-width: 1024px) {
  .logo--services::before {
    font-size: 50px;
    font-weight: 700;
    transform: translate(150px, -25px);
  }
}
.logo--services::after {
  content: "services";
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  color: #fff;
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(100px, 0);
}
@media screen and (min-width: 768px) {
  .logo--services::after {
    font-size: 36px;
    line-height: 44px;
    transform: translate(180px, 0);
  }
}
@media screen and (min-width: 1024px) {
  .logo--services::after {
    font-size: 36px;
    line-height: 44px;
    transform: translate(170px, -35px);
  }
}

.logo__slash {
  margin: 0px 4px;
  font-size: 30px;
  font-weight: 700;
  color: #F0145A;
}
@media screen and (min-width: 768px) {
  .logo__slash {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .logo__services {
    display: none;
  }
}

.logo__burger {
  cursor: pointer;
  width: 32px;
  height: 32px;
}
@media screen and (min-width: 768px) {
  .logo__burger {
    display: none;
  }
}

/* ---FOOTER--- */
.footer {
  text-align: center;
  background-color: #F5F5FA;
  padding-top: 30px;
}
.footer__adresses {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .footer__adresses {
    flex-direction: row;
    justify-content: start;
    align-items: baseline;
    gap: 26px;
  }
}
.footer_adress {
  line-height: 20px;
  margin-bottom: 10px;
  position: relative;
}
@media screen and (min-width: 768px) {
  .footer_adress {
    margin-bottom: 21px;
  }
  .footer_adress::after {
    content: "";
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #B3B3BA;
    position: absolute;
    right: 0;
    top: 0;
    transform: translate(15px, 7px);
  }
}
.footer__link {
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 21px;
}
.footer__contancts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .footer__contancts {
    flex-direction: row;
    justify-content: start;
    align-items: baseline;
    gap: 26px;
  }
}
.footer__fb {
  position: relative;
}
.footer__icon {
  width: 38px;
  height: 38px;
  margin-bottom: 10px;
}
@media screen and (min-width: 768px) {
  .footer__icon {
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(5px, -25px);
  }
}
.footer__number {
  color: #46466E;
  margin-bottom: 10px;
  position: relative;
}
@media screen and (min-width: 768px) {
  .footer__number {
    padding-left: 35px;
  }
  .footer__number::after {
    content: "";
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #B3B3BA;
    position: absolute;
    right: 0;
    top: 0;
    transform: translate(15px, 4px);
  }
  .footer__number::before {
    content: "";
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #B3B3BA;
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(22px, 4px);
  }
}
.footer__mail {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 30px;
}
.footer__etc {
  color: #B3B3BA;
  padding-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .footer__etc {
    position: absolute;
    right: 0;
    top: 0;
    transform: translate(-15px, 0);
  }
}

.logo--about::before {
  content: "/";
  font-weight: normal;
  font-size: 30px;
  color: #F0145A;
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(88px, 0);
}
@media screen and (min-width: 768px) {
  .logo--about::before {
    font-size: 50px;
    font-weight: 700;
    transform: translate(150px, 15px);
  }
}
@media screen and (min-width: 1024px) {
  .logo--about::before {
    font-size: 50px;
    font-weight: 700;
    transform: translate(150px, -25px);
  }
}
.logo--about::after {
  content: "about us";
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  color: #323264;
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(100px, 0);
}
@media screen and (min-width: 768px) {
  .logo--about::after {
    font-size: 36px;
    line-height: 44px;
    transform: translate(180px, 0);
  }
}
@media screen and (min-width: 1024px) {
  .logo--about::after {
    font-size: 36px;
    line-height: 44px;
    transform: translate(170px, -35px);
  }
}

.achiev__container {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1024px) {
  .achiev__container {
    flex-direction: row;
  }
}
.achiev__inner {
  margin-bottom: 30px;
}
@media screen and (min-width: 1024px) {
  .achiev__inner {
    margin-bottom: 60px;
    flex: 1 1 60%;
    margin-right: 30px;
  }
}
.achiev__header {
  font-weight: 700;
  font-size: 30px;
  line-height: 37px;
  background-image: linear-gradient(90.13deg, #F0145A 0.84%, #ef8080 99.96%);
  background-color: #F0145A;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .achiev__header {
    font-weight: 700;
    font-size: 38px;
    line-height: 46px;
  }
}
.achiev__text {
  font-size: 19px;
  line-height: 30px;
}
.achiev__text-first {
  margin-bottom: 15px;
}
.achiev__inner--seecond {
  padding-left: 30px;
  border-left: 4px solid #E6E6F0;
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .achiev__inner--seecond {
    margin-bottom: 60px;
    flex: 1 1 40%;
  }
}
.achiev__li {
  position: relative;
}
.achiev__number {
  background-image: linear-gradient(90.13deg, #F0145A 0.84%, #ef8080 99.96%);
  background-color: #F0145A;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  margin-bottom: 10px;
  padding-left: 45px;
}
.achiev__comment {
  color: #323264;
  line-height: 20px;
}

.experience__svg {
  width: 32px;
  height: 32px;
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(0, 5px);
}

.img__container {
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .img__container {
    margin-bottom: 60px;
  }
}
.img__img {
  width: 100%;
}

.quality__container {
  display: flex;
  flex-direction: column;
  padding-bottom: 60px;
}
@media screen and (min-width: 1024px) {
  .quality__container {
    flex-direction: row;
  }
}
.quality__inner {
  margin-bottom: 30px;
}
@media screen and (min-width: 1024px) {
  .quality__inner {
    flex: 1 1 60%;
    margin-right: 60px;
  }
}
@media screen and (min-width: 1024px) {
  .quality__inner--second {
    flex: 1 1 40%;
  }
}
.quality__text {
  font-size: 19px;
  line-height: 30px;
}
.quality__text--first {
  margin-bottom: 15px;
}
.quality__text--second {
  margin-bottom: 15px;
}

.slider__achiev {
  background-color: #F5F5FA;
  padding-bottom: 76px;
}
.slider__header {
  color: #323264;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  margin-bottom: 30px;
  padding-top: 30px;
  text-align: center;
}

.swiper--about {
  width: 255px;
}
@media screen and (min-width: 768px) {
  .swiper--about {
    width: 648px;
  }
}
@media screen and (min-width: 1024px) {
  .swiper--about {
    width: 904px;
  }
}
@media screen and (min-width: 1440px) {
  .swiper--about {
    width: 1320px;
  }
}
@media screen and (min-width: 1920px) {
  .swiper--about {
    width: 1600px;
  }
}

.content__container .swiper-pagination {
  bottom: -40px;
}

.content__container .swiper-pagination-bullet {
  width: 16px;
  height: 16px;
}

.slide__box {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px 100px;
  background: #fff;
  border-radius: 12px;
}

.header__list .header__links--active {
  color: #24A3FF;
}

.header__list .active--page {
  color: #F0145A;
}

@media screen and (min-width: 1440px) {
  .content__container--contact {
    max-width: 1080px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1920px) {
  .content__container--contact {
    max-width: 1368px;
    margin: 0 auto;
  }
}

.logo--contact::before {
  content: "/";
  font-weight: normal;
  font-size: 30px;
  color: #F0145A;
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(88px, 0);
}
@media screen and (min-width: 768px) {
  .logo--contact::before {
    font-size: 50px;
    font-weight: 700;
    transform: translate(150px, 15px);
  }
}
@media screen and (min-width: 1024px) {
  .logo--contact::before {
    font-size: 50px;
    font-weight: 700;
    transform: translate(150px, -25px);
  }
}
.logo--contact::after {
  content: "contact";
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  color: #323264;
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(100px, 0);
}
@media screen and (min-width: 768px) {
  .logo--contact::after {
    font-size: 36px;
    line-height: 44px;
    transform: translate(180px, 0);
  }
}
@media screen and (min-width: 1024px) {
  .logo--contact::after {
    font-size: 36px;
    line-height: 44px;
    transform: translate(170px, -35px);
  }
}

@media screen and (min-width: 768px) {
  .header__icon::before {
    border: 1px solid #E6E6F0;
    background-color: #E6E6F0;
  }
}

.contact__flex {
  display: flex;
  gap: 60px;
}
.contact__block--first {
  flex: 1 1 50%;
}
.contact__adress {
  font-size: 21px;
  line-height: 30px;
  color: #323264;
  display: block;
  padding-bottom: 30px;
  border-bottom: 4px solid #E6E6F0;
  margin-bottom: 30px;
}
.contact__details {
  display: block;
  padding-bottom: 30px;
  border-bottom: 4px solid #E6E6F0;
  margin-bottom: 30px;
}
.contact__number {
  font-size: 21px;
  line-height: 30px;
  color: #323264;
  margin-bottom: 15px;
}
.contact__email {
  font-size: 21px;
  line-height: 30px;
  color: #24A3FF;
}
.contact__facebook {
  display: flex;
  align-items: center;
}
.contact__svg {
  width: 38px;
  height: 38px;
}
.contact__facebook--text {
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  color: #24A3FF;
  margin-left: 10px;
}
.contact__block--second {
  flex: 1 1 50%;
  padding: 30px;
  background-color: #F5F5FA;
  margin-bottom: 60px;
  border-radius: 12px;
}
.contact__header {
  font-weight: 700;
  font-size: 30px;
  line-height: 37px;
  background-image: linear-gradient(90.13deg, #F0145A 0.84%, #ef8080 99.96%);
  background-color: #F0145A;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .contact__header {
    font-weight: 700;
    font-size: 38px;
    line-height: 46px;
  }
}
.contact__input {
  width: 100%;
  border: none;
  padding: 15px 0px 15px 15px;
  border-radius: 8px;
}
.contact__input:focus {
  border-color: #24A3FF;
}
.contact__input::-moz-placeholder {
  color: #B3B3BA;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
}
.contact__input::placeholder {
  color: #B3B3BA;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
}
.contact__name {
  margin-bottom: 30px;
}
.contact__message {
  padding-bottom: 100px;
  margin-bottom: 30px;
}
.contact__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  color: #B3B3BA;
  margin-bottom: 15px;
}
.contact__number {
  margin-bottom: 15px;
}
.contact__email {
  margin-bottom: 30px;
}
.contact__button {
  width: 100%;
}

.header__container--pubs {
  background-color: #F5F5FA;
}
@media screen and (min-width: 768px) {
  .header__container--pubs {
    background: #fff;
  }
}
.header__label--pubs {
  color: #B3B3BA;
}
.header__input:checked + .header__label--pubs {
  color: #fff;
}
.header__number--pub {
  color: #B3B3BA;
  opacity: 1;
}
.header__links--pubs {
  color: #24A3FF;
}

.header__subcontainer .header__adress--pubs::before {
  border: 1px solid #E6E6F0;
  background-color: #E6E6F0;
}
.header__subcontainer .header__adress--pubs::after {
  border: 1px solid #E6E6F0;
  background-color: #E6E6F0;
}

.header__subcontainer .header__number--pub {
  opacity: 1;
}

.logo--pubs::before {
  content: "/";
  font-weight: normal;
  font-size: 30px;
  color: #F0145A;
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(88px, 0);
}
@media screen and (min-width: 768px) {
  .logo--pubs::before {
    font-size: 50px;
    font-weight: 700;
    transform: translate(150px, 15px);
  }
}
@media screen and (min-width: 1024px) {
  .logo--pubs::before {
    font-size: 50px;
    font-weight: 700;
    transform: translate(150px, -25px);
  }
}
.logo--pubs::after {
  content: "publications";
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  color: #323264;
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(100px, 0);
}
@media screen and (min-width: 768px) {
  .logo--pubs::after {
    font-size: 36px;
    line-height: 44px;
    transform: translate(180px, 0);
  }
}
@media screen and (min-width: 1024px) {
  .logo--pubs::after {
    font-size: 36px;
    line-height: 44px;
    transform: translate(170px, -35px);
  }
}

@media screen and (min-width: 768px) {
  .header__icon::before {
    border: 1px solid #E6E6F0;
    background-color: #E6E6F0;
  }
}

.main__svg--box {
  padding: 30px 0px 60px;
}
.main__svg {
  width: 24px;
  height: 24px;
  padding: 9px;
  background-color: #F5F5FA;
  border-radius: 12px;
  margin-right: 10px;
}

.pubs__paragraph {
  color: black;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
}

.pub__box--noimage {
  padding-top: 30px;
}

.first__pubs {
  padding-bottom: 30px;
  border-bottom: 4px solid #E6E6F0;
  margin-bottom: 30px;
}
.first__img {
  min-width: 315px;
  display: block;
  margin: 0 auto;
  border-radius: 12px;
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .first__img {
    min-width: 648px;
  }
}
@media screen and (min-width: 1024px) {
  .first__img {
    min-width: 904px;
  }
}
@media screen and (min-width: 1440px) {
  .first__img {
    min-width: 1080px;
  }
}
@media screen and (min-width: 1920px) {
  .first__img {
    min-width: 1360px;
  }
}
.first__header {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #323264;
  margin-bottom: 15px;
}
@media screen and (min-width: 768px) {
  .first__header {
    font-weight: 700;
    font-size: 30px;
    line-height: 37px;
  }
}
.first__date {
  color: #B3B3BA;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.second__pubs {
  padding-bottom: 30px;
  border-bottom: 4px solid #E6E6F0;
  margin-bottom: 30px;
}
.second__text {
  margin-bottom: 15px;
}
.second__text--second {
  margin-bottom: 30px;
}
.second__header {
  background-image: linear-gradient(90.13deg, #F0145A 0.84%, #ef8080 99.96%);
  background-color: #F0145A;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
  font-size: 30px;
  line-height: 37px;
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .second__header {
    font-weight: 700;
    font-size: 38px;
    line-height: 46px;
  }
}
.second__header--second {
  color: #46466E;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 15px;
}
@media screen and (min-width: 768px) {
  .second__header--second {
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
  }
}
.second__ordered {
  margin-bottom: 30px;
  padding-left: 20px;
}
.second__list {
  list-style-type: decimal;
  font-weight: 700;
  color: #F0145A;
  margin-bottom: 15px;
}
.second__list--text {
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: #000;
  padding-left: 15px;
}
.second__text--third {
  margin-bottom: 30px;
}
.second__img {
  min-width: 315px;
  display: block;
  margin: 0 auto;
  border-radius: 12px;
  margin-bottom: 15px;
}
@media screen and (min-width: 768px) {
  .second__img {
    min-width: 648px;
  }
}
@media screen and (min-width: 1024px) {
  .second__img {
    min-width: 904px;
  }
}
@media screen and (min-width: 1440px) {
  .second__img {
    min-width: 1080px;
  }
}
@media screen and (min-width: 1920px) {
  .second__img {
    min-width: 1360px;
  }
}
.second__text-fourth {
  color: #B3B3BA;
  font-size: 14px;
  line-height: 22px;
  margin-bottom: 30px;
  text-align: center;
}
.second__text--fifth {
  margin-bottom: 30px;
}
.second__header--third {
  color: #46466E;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 15px;
}
@media screen and (min-width: 768px) {
  .second__header--third {
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
  }
}
.second__text--sixth {
  margin-bottom: 15px;
}

.pubs--pubs {
  border-radius: 12px 12px 0 0;
}

/* switcher */
.switcher {
  margin-bottom: 30px;
}

.switcher input {
  display: none;
}

.switcher input + label {
  display: flex;
  height: 42px;
  position: relative;
  border-radius: 12px;
  cursor: pointer;
  width: 233px;
  margin: 0 auto;
}

.switcher span {
  color: #323264;
  flex: 1 1 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

.label-checkbox {
  background: #E6E6F0;
}

.switcher input + label::before {
  content: "";
  position: absolute;
  background: #fff;
  border-radius: 10px;
  width: 116px;
  height: 38px;
  top: 2px;
  left: 2px;
  transform: translate(0%, 0%);
  transition: transform 0.3s linear;
  z-index: 1;
}

.switcher input:checked + label::before {
  transform: translate(calc(100% - 2px), 0);
}

.it {
  border-bottom: 4px solid rgba(255, 255, 255, 0.5);
}
.it__svg {
  width: 64px;
  height: 64px;
  padding: 14px;
  background: #fff;
  border-radius: 24px;
  display: block;
  margin: 0 auto;
  margin-bottom: 28px;
}
.it__header {
  text-align: center;
  background-image: linear-gradient(90.13deg, #F0145A 0.84%, #ef8080 99.96%);
  background-color: #F0145A;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
  font-size: 30px;
  line-height: 37px;
  margin-bottom: 28px;
}
@media screen and (min-width: 768px) {
  .it__header {
    font-weight: 700;
    font-size: 38px;
    line-height: 46px;
  }
}
.it__text {
  font-size: 19px;
  line-height: 30px;
  color: #fff;
  text-align: center;
}
.it__text--second {
  font-size: 19px;
  line-height: 30px;
  color: #fff;
  text-align: center;
  margin-bottom: 28px;
}
.it__button {
  display: block;
  margin: 0 auto;
  margin-bottom: 30px;
  padding: 18px 30px;
  color: #fff;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  background-color: #24A3FF;
  box-shadow: 0px 0px 20px rgba(36, 163, 255, 0.5);
  border-radius: 12px;
  border: none;
}

.services {
  padding-bottom: 60px;
}
.services__header--entry {
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  color: #fff;
  margin-bottom: 30px;
  padding-top: 34px;
}
@media screen and (min-width: 768px) {
  .services__flex {
    display: flex;
    justify-content: space-between;
    gap: 60px;
  }
}
@media screen and (min-width: 1920px) {
  .services__flex {
    display: flex;
    justify-content: space-between;
    gap: 74px;
  }
}
.services__ulist {
  margin-bottom: 30px;
}
.services__list {
  position: relative;
  font-size: 18px;
  line-height: 26px;
  color: #fff;
  margin-bottom: 15px;
  padding-left: 14px;
}
.services__list::before {
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #F0145A;
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(0, 11px);
}
.logo--team::before {
  content: "/";
  font-weight: normal;
  font-size: 30px;
  color: #F0145A;
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(88px, 0);
}
@media screen and (min-width: 768px) {
  .logo--team::before {
    font-size: 50px;
    font-weight: 700;
    transform: translate(150px, 15px);
  }
}
@media screen and (min-width: 1024px) {
  .logo--team::before {
    font-size: 50px;
    font-weight: 700;
    transform: translate(150px, -25px);
  }
}
.logo--team::after {
  content: "team";
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  color: #323264;
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(100px, 0);
}
@media screen and (min-width: 768px) {
  .logo--team::after {
    font-size: 36px;
    line-height: 44px;
    transform: translate(180px, 0);
  }
}
@media screen and (min-width: 1024px) {
  .logo--team::after {
    font-size: 36px;
    line-height: 44px;
    transform: translate(170px, -35px);
  }
}

.card {
  flex: 1 1 100%;
  margin-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .card {
    flex: 1 1 40%;
  }
}
@media screen and (min-width: 1024px) {
  .card {
    flex: 1 1 30%;
  }
}
.card__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  -moz-column-gap: 60px;
       column-gap: 60px;
}
.card__img--team {
  width: 315px;
  height: 300px;
  margin-bottom: 15px;
  width: 100%;
  border-radius: 12px;
}
@media screen and (min-width: 768px) {
  .card__img--team {
    height: 400px;
  }
}
.card__header--team {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #323264;
  margin-bottom: 5px;
  position: relative;
}
.card__header--team:hover {
  color: #F0145A;
}
.card__header--team:after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  border-top: 2px solid #24A3FF;
  border-right: 2px solid #24A3FF;
  transform: translate(-11px, 9px) rotate(45deg);
  width: 10px;
  height: 10px;
}
.card__header--team:hover::after {
  border-color: #F0145A;
}
.card__header--team:before {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  transform: translate(0, 0);
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #F5F5FA;
}
.card__text--team {
  font-size: 14px;
  line-height: 22px;
  color: #B3B3BA;
}

/* team-entry */
.team__container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .team__container {
    flex-direction: row;
  }
}
.team__photo {
  display: block;
  max-width: 315px;
  max-height: 375px;
  margin-bottom: 30px;
  border-radius: 12px;
}
@media screen and (min-width: 768px) {
  .team__photo {
    flex: 1 1 35%;
    margin-right: 30px;
  }
}
@media screen and (min-width: 1440px) {
  .team__photo {
    max-width: 400px;
    max-height: 500px;
  }
}
.team__contacts {
  padding-bottom: 30px;
  border-bottom: 4px solid #E6E6F0;
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .team__contacts {
    border: none;
    margin-bottom: 0px;
    flex: 1 1 40%;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}
.team__header {
  font-weight: 700;
  font-size: 38px;
  line-height: 46px;
  background-image: linear-gradient(90.13deg, #F0145A 0.84%, #ef8080 99.96%);
  background-color: #F0145A;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .team__header {
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 1024px) {
  .team__header {
    width: 664px;
    margin: 0px auto 60px;
  }
}
@media screen and (min-width: 1440px) {
  .team__header {
    width: 1080px;
  }
}
@media screen and (min-width: 1920px) {
  .team__header {
    width: 1360px;
  }
}
.team__position {
  color: #B3B3BA;
  font-size: 14px;
  line-height: 22px;
  margin-bottom: 10px;
}
.team__email {
  color: #24A3FF;
  line-height: 20px;
  margin-bottom: 10px;
  display: block;
}
.team__linkedin {
  color: #24A3FF;
  line-height: 20px;
}
.team__about {
  padding-bottom: 30px;
  padding-top: 30px;
}
@media screen and (min-width: 768px) {
  .team__about {
    border-top: 4px solid #E6E6F0;
  }
}
@media screen and (min-width: 1024px) {
  .team__about {
    border: none;
  }
}
.team__text {
  line-height: 26px;
  margin-bottom: 15px;
}
.team__text--second {
  line-height: 26px;
  margin-bottom: 30px;
}
.team__education {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  color: #323264;
  margin-bottom: 15px;
}
.team__education--text {
  line-height: 26px;
  margin-bottom: 30px;
}
.team__experience {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  color: #323264;
  margin-bottom: 15px;
}
.team__experience--text {
  line-height: 26px;
}

body {
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
  cursor: pointer;
}

button,
label {
  cursor: pointer;
}

.link {
  color: #24A3FF;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
}
.link:hover {
  text-decoration: underline;
  color: #F0145A;
}

img {
  -o-object-fit: cover;
     object-fit: cover;
}

/* -------------------------------------------- */
.hero__text {
  font-weight: 700;
  font-size: 38px;
  line-height: 46px;
  color: #fff;
  text-align: center;
  flex-grow: 1;
}

.move__box {
  position: relative;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.move__btn {
  display: block;
  width: 42px;
  height: 42px;
  margin: 40px auto 30px;
  border-radius: 50%;
  border: 2px solid rgba(255, 255, 255, 0.5);
  position: relative;
  cursor: pointer;
}
.move__btn::after {
  content: "";
  width: 16px;
  height: 16px;
  border-bottom: 2px solid;
  border-right: 2px solid;
  border-color: #fff;
  transform: translate(12px, -15px) rotate(45deg);
  position: absolute;
  bottom: 0;
  left: 0;
}
.move__btn:hover::after {
  border-color: #F0145A;
}
.move__btn:hover {
  border-color: #F0145A;
}

.tab__container {
  border-top: 4px solid rgba(255, 255, 255, 0.5);
  padding-top: 30px;
}
@media screen and (min-width: 1024px) {
  .tab__container {
    border: none;
    display: flex;
    align-items: center;
  }
}

.selector {
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .selector {
    margin-bottom: 60px;
  }
}
.selector__box {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1024px) {
  .selector__box {
    flex-direction: row;
  }
}
.selector__label {
  color: #B3B3BA;
  margin-right: 30px;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 30px;
  line-height: 37px;
  cursor: pointer;
}
.selector__label.active {
  background-image: linear-gradient(90.13deg, #F0145A 0.84%, #ef8080 99.96%);
  background-color: #F0145A;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.selector__label:hover {
  color: #F0145A;
}
@media screen and (min-width: 768px) {
  .selector__label {
    font-weight: 700;
    font-size: 38px;
    line-height: 46px;
  }
}
.selector__input:checked + .selector__label {
  background-image: linear-gradient(90.13deg, #F0145A 0.84%, #ef8080 99.96%);
  background-color: #F0145A;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.selector__content {
  display: none;
  flex-direction: column;
}
@media screen and (min-width: 1024px) {
  .selector__content {
    padding-left: 30px;
    padding-bottom: 30px;
    flex-direction: column;
    justify-content: center;
  }
}
.selector__content.active {
  display: flex;
}
.selector__header {
  color: #fff;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .selector__header {
    font-weight: 700;
    font-size: 30px;
    line-height: 37px;
  }
}
.selector__text {
  color: #fff;
  font-size: 19px;
  line-height: 30px;
}
.input__block {
  white-space: nowrap;
  padding: 30px 0;
  margin-right: -15px;
  overflow: scroll;
  display: flex;
}
.input__block::-webkit-scrollbar {
  display: none;
}
@media screen and (min-width: 768px) {
  .input__block {
    margin-right: calc(-50vw + 324px);
  }
}
@media screen and (min-width: 1024px) {
  .input__block {
    flex-direction: column;
    text-align: right;
    border-right: 4px solid rgba(255, 255, 255, 0.3);
    padding: 30px 0px 15px;
    overflow: visible;
    border-bottom: none;
    margin: 0;
  }
}

.benefits {
  padding-bottom: 60px;
}
.benefits__cards {
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
  justify-content: space-between;
}

.content__container--team {
  margin: 30px 30px 0px 30px;
}

.link__services {
  margin-bottom: 30px;
}

.services__header {
  font-weight: 700;
  font-size: 30px;
  line-height: 37px;
  background-image: linear-gradient(90.13deg, #F0145A 0.84%, #ef8080 99.96%);
  background-color: #F0145A;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .services__header {
    font-weight: 700;
    font-size: 38px;
    line-height: 46px;
    margin-bottom: 60px;
  }
}

.benefit__card {
  max-width: 100%;
}
@media screen and (min-width: 768px) {
  .benefit__card {
    max-width: 45%;
  }
}
@media screen and (min-width: 1024px) {
  .benefit__card {
    max-width: 28%;
  }
}

.card__svg {
  width: 64px;
  height: 64px;
  background: #fff;
  border-radius: 24px;
  padding: 14px;
  display: block;
  margin-bottom: 30px;
}
.card__svg--court {
  width: 92px;
}
.card__header {
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  color: #24A3FF;
  display: block;
  margin-bottom: 15px;
}
.card__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #fff;
}

.sponsor__card .card__hidden {
  display: none;
}
@media screen and (min-width: 768px) {
  .sponsor__card .card__hidden {
    display: flex;
  }
}

.team__block {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  background: #F5F5FA;
  margin-bottom: 30px;
  /* @media screen and (min-width:$breakpoint-md) {
      max-width: 648px;
  } */
  /* @media screen and (min-width:$breakpoint-xl) {
      max-width: 1320px;
  }
  @media screen and (min-width:$breakpoint-xxl) {
      max-width: 1600px;
  } */
}
@media screen and (min-width: 1024px) {
  .team__block {
    /* max-width: 904px; */
    flex-direction: row;
  }
}
.team__img {
  display: block;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}
@media screen and (min-width: 768px) {
  .team__img {
    min-width: 648px;
  }
}
@media screen and (min-width: 1024px) {
  .team__img {
    min-width: 400px;
    height: 528px;
  }
}
@media screen and (min-width: 1440px) {
  .team__img {
    min-width: 400px;
    height: 344px;
  }
}
@media screen and (min-width: 1920px) {
  .team__img {
    min-width: 400px;
    height: 298px;
  }
}
.team__link {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  color: #24A3FF;
  margin-bottom: 5px;
}
.team__hero {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 30px;
  line-height: 37px;
  background-image: linear-gradient(90.13deg, #F0145A 0.84%, #ef8080 99.96%);
  background-color: #F0145A;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media screen and (min-width: 768px) {
  .team__hero {
    font-weight: 700;
    font-size: 38px;
    line-height: 46px;
  }
}

.name__text {
  color: #B3B3BA;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

.pos__text {
  color: #B3B3BA;
  font-size: 14px;
  line-height: 22px;
  padding-bottom: 15px;
}
@media screen and (min-width: 768px) {
  .pos__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
  }
}

.input__block-slider {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 15px;
  margin-bottom: 60px;
}
.input__radio-slider {
  display: none;
}
.input__label-slider {
  content: "";
  width: 16px;
  height: 16px;
  background-color: #24A3FF;
  border-radius: 50%;
  opacity: 0.2;
}
.input__radio-slider:checked + label {
  opacity: 1;
}

.sponsors__header {
  color: #323264;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  margin-bottom: 30px;
  text-align: center;
}
@media screen and (min-width: 1920px) {
  .sponsors__cards {
    max-width: 1720px;
    margin: 0 auto;
  }
}

.sponsor__card--container {
  display: flex;
  flex-wrap: wrap;
}
@media screen and (min-width: 1920px) {
  .sponsor__card--container {
    border-radius: 12px;
    padding-bottom: 30px;
  }
}
.sponsor__card {
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 1 100%;
}
@media screen and (min-width: 768px) {
  .sponsor__card {
    flex: 1 1 33%;
  }
}
@media screen and (min-width: 1024px) {
  .sponsor__card {
    flex: 1 1 25%;
  }
}
.sponsor__img {
  display: block;
}
.sponsor__card--hillel {
  background: #1C4280;
}
@media screen and (min-width: 1920px) {
  .sponsor__card--hillel {
    border-top-left-radius: 12px;
  }
}
.sponsor__card--wannabiz {
  background: #143646;
}
.sponsor__card--tapgerine {
  background: linear-gradient(0deg, #F48B30, #F48B30), #F48B30;
}
.sponsor__card--3dlook {
  background: #9E4DC3;
}
@media screen and (min-width: 1920px) {
  .sponsor__card--3dlook {
    border-top-right-radius: 12px;
  }
}
.sponsor__card--arangear {
  background: #FD9339;
}
.sponsor__card--adtelligent {
  background: #E2E2E4;
}
.sponsor__card--clickky {
  background: #C71C36;
}
.sponsor__card--leasing {
  background: #DCF3F9;
}
.sponsor__card--infratek {
  background: #EAEAEA;
}
@media screen and (min-width: 1920px) {
  .sponsor__card--infratek {
    border-bottom-left-radius: 12px;
  }
}
.sponsor__card--citypark {
  background: #282240;
}
.sponsor__card--artprint {
  background: #1D4568;
}
.sponsor__card--ultimate {
  background: #000000;
}
@media screen and (min-width: 1920px) {
  .sponsor__card--ultimate {
    border-bottom-right-radius: 12px;
  }
}

.sponsor__card--container .card__hidden {
  display: none;
}
@media screen and (min-width: 768px) {
  .sponsor__card--container .card__hidden {
    display: flex;
  }
}

.pubs {
  background-color: #F5F5FA;
  padding-top: 30px;
}
.pubs__header {
  font-weight: 700;
  font-size: 30px;
  line-height: 37px;
  background-image: linear-gradient(90.13deg, #F0145A 0.84%, #ef8080 99.96%);
  background-color: #F0145A;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .pubs__header {
    font-weight: 700;
    font-size: 38px;
    line-height: 46px;
  }
}
.pubs__link {
  margin-bottom: 10px;
}
.pubs__flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
  padding-bottom: 30px;
  border-bottom: 4px solid #E6E6F0;
}
@media screen and (min-width: 768px) {
  .pubs__flex {
    justify-content: space-around;
  }
}
@media screen and (min-width: 1440px) {
  .pubs__flex {
    justify-content: space-between;
  }
}

.pub__box {
  background: #fff;
  max-width: 100%;
  border-radius: 8px;
}
@media screen and (min-width: 768px) {
  .pub__box {
    max-width: 45%;
  }
}
@media screen and (min-width: 1024px) {
  .pub__box {
    max-width: 30%;
  }
}
.pub__box--wide {
  max-width: 100%;
}
@media screen and (min-width: 768px) {
  .pub__box--wide {
    max-width: 100%;
  }
}
@media screen and (min-width: 1024px) {
  .pub__box--wide {
    max-width: 30%;
  }
}
.pub__container {
  padding: 0px 30px 30px 30px;
}
.pub__img {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  display: block;
  width: 100%;
  height: 200px;
  margin-bottom: 30px;
}
.pub__header {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #24A3FF;
  margin-bottom: 15px;
  text-transform: none;
}
.pub__date {
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  color: #B3B3BA;
  margin-bottom: 17px;
  padding-bottom: 17px;
  border-bottom: 4px solid #E6E6F0;
}
.pub__text {
  font-size: 14px;
  line-height: 22px;
  color: #000;
}

.hidden {
  visibility: hidden;
  width: 0;
  height: 0;
  position: absolute;
  z-index: -1;
}

.swiper__container {
  padding-bottom: 60px;
}

.swiper .swiper-pagination-main {
  bottom: 0px;
}/*# sourceMappingURL=style.css.map */