@import 'reset';
@import 'variables';
@import 'hud';
@import 'about';
@import 'contact';
@import url(../fonts/Montserrat-Bold.ttf);
@import url(../fonts/Montserrat-Regular.ttf);
body {
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
    cursor: pointer;
}

button,
label {
    cursor: pointer;
}

.link {
    color: $active-reg;
    @include h3-caps-font;

    &:hover {
        text-decoration: underline;
        color: $accent-color;
    }
}

img {
    object-fit: cover;
}

/* -------------------------------------------- */

.hero__text {
    @include hero-font;
    color: #fff;
    text-align: center;
    flex-grow: 1;
}

.move__box {
    position: relative;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.move__btn {
    display: block;
    width: 42px;
    height: 42px;
    margin: 40px auto 30px;
    border-radius: 50%;
    border: 2px solid rgba(255, 255, 255, 0.5);
    position: relative;
    cursor: pointer;

    &::after {
        content: '';
        width: 16px;
        height: 16px;
        border-bottom: 2px solid;
        border-right: 2px solid;
        border-color: #fff;
        transform: translate(12px, -15px) rotate(45deg);
        position: absolute;
        bottom: 0;
        left: 0;

    }

    &:hover::after {
        border-color: $accent-color;
    }

    &:hover {
        border-color: $accent-color;
    }

}

.tab__container {
    border-top: 4px solid rgba(255, 255, 255, 0.5);
    padding-top: 30px;

    @media screen and (min-width:$breakpoint-lg) {
        border: none;
        display: flex;
        align-items: center;
    }
}

.selector {
    margin-bottom: 30px;

    @media screen and (min-width:$breakpoint-md) {
        margin-bottom: 60px;
    }

    &__box {
        display: flex;
        flex-direction: column;

        @media screen and (min-width:$breakpoint-lg) {
            flex-direction: row;
        }
    }

    &__label {
        color: $gray-text;
        margin-right: 30px;
        margin-bottom: 30px;
        @include hero-mobile;
        cursor: pointer;

        &.active {
            @include gradient-text;
        }

        &:hover {
            color: $accent-color;
        }

        @media screen and (min-width:$breakpoint-md) {
            @include hero-font;
        }
    }

    &__input:checked+&__label {
        @include gradient-text;
    }

    &__content {
        display: none;
        flex-direction: column;

        @media screen and (min-width:$breakpoint-md) {}

        @media screen and (min-width:$breakpoint-lg) {
            padding-left: 30px;
            padding-bottom: 30px;
            flex-direction: column;
            justify-content: center;
        }

        &.active {
            display: flex;
        }
    }

    &__header {
        color: #fff;
        @include h2-mobile-font;
        margin-bottom: 30px;

        @media screen and (min-width:$breakpoint-md) {
            @include h2-font;
        }
    }

    &__text {
        color: #fff;
        @include introduction;

        @media screen and (min-width:$breakpoint-lg) {}
    }
}

.input__block {
    white-space: nowrap;
    padding: 30px 0;
    margin-right: -15px;
    overflow: scroll;
    display: flex;

    &::-webkit-scrollbar {
        display: none;
    }

    @media screen and (min-width:$breakpoint-md) {
        margin-right: calc(-50vw + 324px);
    }

    @media screen and (min-width:$breakpoint-lg) {
        flex-direction: column;
        text-align: right;
        border-right: 4px solid rgba(255, 255, 255, 0.3);
        padding: 30px 0px 15px;
        overflow: visible;
        border-bottom: none;
        margin: 0;
    }
}


.benefits {
    padding-bottom: 60px;
    // .benefits__cards

    &__cards {
        display: flex;
        flex-wrap: wrap;
        gap: 60px;
        justify-content: space-between;
    }
}

.content {

    // .content__container--team
    &__container--team {
        margin: 30px 30px 0px 30px;
    }
}

.link {
    // .link__services

    &__services {
        margin-bottom: 30px;
    }
}

.services {

    // .services__header

    &__header {
        @include hero-mobile;
        @include gradient-text;
        margin-bottom: 30px;

        @media screen and (min-width:$breakpoint-md) {
            @include hero-font;
            margin-bottom: 60px;
        }
    }
}

.benefit {

    // .benefit__card

    &__card {
        max-width: 100%;

        @media screen and (min-width:$breakpoint-md) {
            max-width: 45%;
        }

        @media screen and (min-width:$breakpoint-lg) {
            max-width: 28%;
        }
    }
}

.card {

    // .card__svg

    &__svg {
        width: 64px;
        height: 64px;
        background: #fff;
        border-radius: 24px;
        padding: 14px;
        display: block;
        margin-bottom: 30px;
    }

    &__svg--court {
        width: 92px;
    }

    // .card__header

    &__header {
        @include h3-font;
        color: $active-reg;
        display: block;
        margin-bottom: 15px;
    }

    // .card__text

    &__text {
        @include paragraph;
        color: #fff;

    }

    // .card__hidden

}

.sponsor__card .card__hidden {
    display: none;

    @media screen and (min-width:$breakpoint-md) {
        display: flex;
    }

}

.team {

    // .team__block

    &__block {
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        border-radius: 12px;
        background: $gray-bg;
        margin-bottom: 30px;

        /* @media screen and (min-width:$breakpoint-md) {
            max-width: 648px;
        } */
        @media screen and (min-width:$breakpoint-lg) {
            /* max-width: 904px; */
            flex-direction: row;
        }

        /* @media screen and (min-width:$breakpoint-xl) {
            max-width: 1320px;
        }
        @media screen and (min-width:$breakpoint-xxl) {
            max-width: 1600px;
        } */
    }

    // .team__img

    &__img {
        display: block;
        border-top-left-radius: 12px;
        border-bottom-left-radius: 12px;

        @media screen and (min-width:$breakpoint-md) {
            min-width: 648px;
        }

        @media screen and (min-width:$breakpoint-lg) {
            min-width: 400px;
            height: 528px;
        }

        @media screen and (min-width:$breakpoint-xl) {
            min-width: 400px;
            height: 344px;
        }

        @media screen and (min-width:$breakpoint-xxl) {
            min-width: 400px;
            height: 298px;
        }
    }

    // .team__link

    &__link {
        @include h3-caps-font;
        color: $active-reg;
        margin-bottom: 5px;
    }

    // .team__hero

    &__hero {
        margin-bottom: 30px;
        @include hero-mobile;
        @include gradient-text;

        @media screen and (min-width:$breakpoint-md) {
            @include hero-font;
        }

    }

}

.name {

    // .name__text

    &__text {
        color: $gray-text;
        @include h4-font;
    }
}

.pos {

    // .pos__text

    &__text {
        color: $gray-text;
        @include paragraph-small;
        padding-bottom: 15px;

        @media screen and (min-width:$breakpoint-md) {
            @include paragraph;
        }
    }
}

.input {

    // .input__block-slider

    &__block-slider {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 15px;
        margin-bottom: 60px;
    }

    // .input__radio-slider

    &__radio-slider {
        display: none;
    }

    // .input__label-slider

    &__label-slider {
        content: '';
        width: 16px;
        height: 16px;
        background-color: $active-reg;
        border-radius: 50%;
        opacity: .2;
    }

    &__radio-slider:checked+label {
        opacity: 1;
    }

}

.sponsors {

    // .sponsors__header
    &__header {
        color: $main-color;
        @include h3-caps-font;
        margin-bottom: 30px;
        text-align: center;
    }

    // .sponsors__cards

    &__cards {
        @media screen and (min-width:$breakpoint-xxl) {
            max-width: 1720px;
            margin: 0 auto;
        }
    }
}

.sponsor {

    // .sponsor__card--container

    &__card--container {
        display: flex;
        flex-wrap: wrap;

        @media screen and (min-width:$breakpoint-xxl) {
            border-radius: 12px;
            padding-bottom: 30px;
        }

    }

    // .sponsor__card

    &__card {
        height: 120px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 1 1 100%;

        @media screen and (min-width:$breakpoint-md) {
            flex: 1 1 33%;
        }

        @media screen and (min-width:$breakpoint-lg) {
            flex: 1 1 25%;
        }
    }

    // .sponsor__card--hillel
    &__img {
        display: block;
    }

    &__card--hillel {
        background: #1C4280;

        @media screen and (min-width:$breakpoint-xxl) {
            border-top-left-radius: 12px;
        }
    }

    // .sponsor__card--wannabiz

    &__card--wannabiz {
        background: #143646;
    }

    // .sponsor__card--tapgerine

    &__card--tapgerine {
        background: linear-gradient(0deg, #F48B30, #F48B30), #F48B30;
    }

    // .sponsor__card--3dlook

    &__card--3dlook {
        background: #9E4DC3;

        @media screen and (min-width:$breakpoint-xxl) {
            border-top-right-radius: 12px;
        }
    }

    // .sponsor__card--arangear

    &__card--arangear {
        background: #FD9339;
    }

    // .sponsor__card--adtelligent

    &__card--adtelligent {
        background: #E2E2E4;
    }

    // .sponsor__card--clickky

    &__card--clickky {
        background: #C71C36;
    }

    // .sponsor__card--leasing

    &__card--leasing {
        background: #DCF3F9;
    }

    // .sponsor__card--infratek

    &__card--infratek {
        background: #EAEAEA;

        @media screen and (min-width:$breakpoint-xxl) {
            border-bottom-left-radius: 12px;
        }
    }

    // .sponsor__card--citypark

    &__card--citypark {
        background: #282240;
    }

    // .sponsor__card--artprint

    &__card--artprint {
        background: #1D4568;
    }

    // .sponsor__card--ultimate

    &__card--ultimate {
        background: #000000;

        @media screen and (min-width:$breakpoint-xxl) {
            border-bottom-right-radius: 12px;
        }
    }
}

.sponsor__card--container .card__hidden {
    display: none;

    @media screen and (min-width:$breakpoint-md) {
        display: flex;
    }
}

.pubs {
    background-color: $gray-bg;
    padding-top: 30px;
    // .pubs__header

    &__header {
        @include hero-mobile;
        @include gradient-text;
        margin-bottom: 30px;

        @media screen and (min-width:$breakpoint-md) {
            @include hero-font;
        }
    }

    &__link {
        margin-bottom: 10px;
    }

    &__flex {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 30px;
        padding-bottom: 30px;
        border-bottom: 4px solid $gray-separator;

        @media screen and (min-width:$breakpoint-md) {
            justify-content: space-around;
        }

        @media screen and (min-width:$breakpoint-xl) {
            justify-content: space-between;
        }
    }
}

.pub {

    // .pub__box

    &__box {
        background: #fff;
        max-width: 100%;
        border-radius: 8px;

        @media screen and (min-width:$breakpoint-md) {
            max-width: 45%;
        }

        @media screen and (min-width:$breakpoint-lg) {
            max-width: 30%;
        }
    }

    &__box--wide {
        max-width: 100%;

        @media screen and (min-width:$breakpoint-md) {
            max-width: 100%;
        }

        @media screen and (min-width:$breakpoint-lg) {
            max-width: 30%;
        }

    }

    &__container {
        padding: 0px 30px 30px 30px;
    }

    // .pub__img

    &__img {
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        display: block;
        width: 100%;
        height: 200px;
        margin-bottom: 30px;
    }

    // .pub__header

    &__header {
        @include h4-font;
        color: $active-reg;
        margin-bottom: 15px;
        text-transform: none;
    }

    // .pub__date

    &__date {
        font-weight: 700;
        font-size: 12px;
        line-height: 15px;
        color: $gray-text;
        margin-bottom: 17px;
        padding-bottom: 17px;
        border-bottom: 4px solid #E6E6F0;
    }

    // .pub__text

    &__text {
        @include paragraph-small;
        color: #000;
    }
}

.hidden {
    visibility: hidden;
    width: 0;
    height: 0;
    position: absolute;
    z-index: -1;
}

.swiper__container {
    padding-bottom: 60px;
}

.swiper .swiper-pagination-main {
    bottom: 0px;
}