.logo--team {
    &::before {
        content: '/';
        font-weight: normal;
        font-size: 30px;
        color: $accent-color;
        position: absolute;
        left: 0;
        top: 0;
        transform: translate(88px, 0);

        @media screen and (min-width:$breakpoint-md) {
            font-size: 50px;
            font-weight: 700;
            transform: translate(150px, 15px);
        }

        @media screen and (min-width:$breakpoint-lg) {
            font-size: 50px;
            font-weight: 700;
            transform: translate(150px, -25px);
        }
    }

    &::after {
        content: 'team';
        font-weight: normal;
        font-size: 20px;
        line-height: 24px;
        color: $main-color;
        position: absolute;
        left: 0;
        top: 0;
        transform: translate(100px, 0);

        @media screen and (min-width:$breakpoint-md) {
            font-size: 36px;
            line-height: 44px;
            transform: translate(180px, 0);
        }

        @media screen and (min-width:$breakpoint-lg) {
            font-size: 36px;
            line-height: 44px;
            transform: translate(170px, -35px);
        }
    }
}

.card {

    // .card__container
    flex: 1 1 100%;
    margin-bottom: 60px;

    @media screen and (min-width:$breakpoint-md) {
        flex: 1 1 40%;
    }

    @media screen and (min-width:$breakpoint-lg) {
        flex: 1 1 30%;
    }

    &__container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        column-gap: 60px;
    }

    // .card__header
    &__img--team {
        width: 315px;
        height: 300px;
        margin-bottom: 15px;
        width: 100%;
        border-radius: 12px;

        @media screen and (min-width:$breakpoint-md) {
            height: 400px;
        }
    }

    &__header--team {
        @include h4-font;
        color: $main-color;
        margin-bottom: 5px;
        position: relative;
    }

    &__header--team:hover {
        color: $accent-color;
    }

    &__header--team:after {
        content: '';
        position: absolute;
        right: 0;
        top: 0;
        border-top: 2px solid $active-reg;
        border-right: 2px solid $active-reg;
        transform: translate(-11px, 9px) rotate(45deg);
        width: 10px;
        height: 10px;
    }

    &__header--team:hover::after {
        border-color: $accent-color;
    }

    &__header--team:before {
        content: '';
        position: absolute;
        right: 0;
        top: 0;
        transform: translate(0, 0);
        width: 32px;
        height: 32px;
        border-radius: 50%;
        background-color: $gray-bg;
    }

    // .card__text

    &__text--team {
        @include paragraph-small;
        color: $gray-text;
    }
}

/* team-entry */
.team {

    // .team__container

    &__container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;

        @media screen and (min-width:$breakpoint-md) {
            flex-direction: row;
        }

        @media screen and (min-width:$breakpoint-xl) {}
    }

    // .team__photo

    &__photo {
        display: block;
        max-width: 315px;
        max-height: 375px;
        margin-bottom: 30px;
        border-radius: 12px;

        @media screen and (min-width:$breakpoint-md) {
            flex: 1 1 35%;
            margin-right: 30px;
        }

        @media screen and (min-width:$breakpoint-xl) {
            max-width: 400px;
            max-height: 500px;
        }

    }

    // .team__contacts

    &__contacts {
        padding-bottom: 30px;
        border-bottom: 4px solid $gray-separator;
        margin-bottom: 30px;

        @media screen and (min-width:$breakpoint-md) {
            border: none;
            margin-bottom: 0px;
            flex: 1 1 40%;
            display: flex;
            justify-content: center;
            flex-direction: column;
        }
    }

    // .team__header

    &__header {
        @include hero-font;
        @include gradient-text;
        margin-bottom: 30px;

        @media screen and (min-width:$breakpoint-md) {
            margin-bottom: 60px;
        }

        @media screen and (min-width:$breakpoint-lg) {
            width: 664px;
            margin: 0px auto 60px;


        }

        @media screen and (min-width:$breakpoint-xl) {
            width: 1080px;
        }

        @media screen and (min-width:$breakpoint-xxl) {
            width: 1360px;

        }
    }

    
        }